@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Cormorant+Upright:wght@300;400;500;600;700&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor1: #011526;
    --cor2: #324E59;
    --cor3: #65818C;
    --cor4: #95B3BF;
    --cor5: #0D0D0D;

    --fonte-principal: "Baskervville", serif;
    --fonte-subtitulo: "Cormorant Upright", serif;
    --fonte-titulo: "Libre Caslon Text", serif;
    --fonte-rodape: "Roboto", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

header {
    padding: 25px;
    background-color: var(--cor5);
}

nav {
    margin-left: -30px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline-block;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: var(--fonte-principal);
    margin: 0 20px;
}

nav a:hover {
    text-decoration: underline;
}

.inicial {
    background-image: url('../imagens/hogwarts.jpeg');
    max-width: 1024px;
    height: 1024px;
    margin: auto;
    font-family: var(--fonte-principal);
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
}

h1,h2 {
    font-family: var(--fonte-titulo);
}

p,a {
    font-family: var(--fonte-principal);
}

.sobre {
    padding-top: 300px;
    max-width: 700px;
    margin: auto;
}

.sobre h1 {
    text-align: center;
    font-size: 50px;
}

.casas {
   margin-top: 250px;
   text-align: center;
}

.casas h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

.casas li {
    list-style-type: none;
    display: inline-block;
}

.casas a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.casas a:hover {
    text-decoration: underline;
}

.hog {
    background-image: url('../imagens/hogwarts2.jpeg');
    width: 1310px;
    height: 263px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.418);
    border-radius: 10px ;
}
.teoria {
    margin-top: -200px;
}

footer {
    margin-top: 20px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--fonte-rodape);
}

footer a {
    color: white;
    font-family: var(--fonte-rodape);
}
